<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/bootstrap-3.3.7-dist/js/jquery-3.2.1.js"></script>
    <script src='/lib/bootstrap-3.3.7-dist/js/bootstrap.js'></script>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7-dist/css/bootstrap.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Vestibulum at eros
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
  </body>
</html>
